<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortner</h1>
      <% if (locals.id) { %>
      <p>URL Generated : http://localhost:8001/url/<%= id %></p>
      <% } %>
      <div>
        <form method="POST" action="/url">
          <label for="">Enter Your Original URL</label>
          <input type="text" name="url" placeholder="https://example.com" />
          <button>Generate</button>
        </form>
      </div>

      <div class="container2">
        <% if (locals.urls) { %>
        <table>
          <thead>
            <th>S. No</th>
            <th>ShortID</th>
            <th>Redirect</th>
            <th>Clicks</th>
          </thead>
          <tbody>
            <% urls.forEach((url,index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= url.shortId%></td>
              <td><%= url.redirectURL%></td>
              <td><%= url.visitHistory.length%></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
        <% } %>
      </div>
    </div>
  </body>
  <style>
    * {
      background-color: black;
    }
    .container {
      text-align: center;
      color: white;
      
    }
    h1 {
      display: inline-block;
    }

    input {
      color: white;
      border: solid;
    }
    button {
      background-color: red;
      color: white;
    }

    table,
    th,
    td {
      margin-top: 20px;
      border: 1px solid;
      margin-left: auto;
      margin-right: auto;
      font-size: small;
    }
  </style>
</html>
